# Cargo 產生的編譯檔和執行檔。
/target/

# Remove Cargo.lock from gitignore if creating an executable, leave it for libraries
# More information here https://doc.rust-lang.org/cargo/guide/cargo-toml-vs-cargo-lock.html
# Cargo.lock

# 由 rustfmt 產生的備份檔案。
**/*.rs.bk

# 隱藏以底線為前綴的資料夾或檔案（通常是測試或草稿）。
src/_*

# 筆記
note.txt
